<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background-image: url(https://r4.wallpaperflare.com/wallpaper/262/774/423/space-stars-nebula-tylercreatesworlds-wallpaper-29a018cdb1da7dbb263798bff0b156ed.jpg);
    }
    .card-body{
    margin-left: 40%;
    margin-right: 30%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    }
    #heading{
        margin-top: 15%;
    margin-left: 40%;
    margin-right: 30%;
    color: white;
    }
</style>
<body>
    <div class="body">
<h1 id="heading">Login Here</h1>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="login" onclick="location.href='index'">
    </form>
</div>
</div>
</body>
</html>